In [2]:
pip install -i https://test.pypi.org/simple/ lambdata-zwarshavsky==0.1.2

Looking in indexes: https://test.pypi.org/simple/
Collecting lambdata-zwarshavsky==0.1.2
  Using cached https://test-files.pythonhosted.org/packages/dc/c5/362c575437cf9938a6e6230e15c445a76ceb3e0e7aca794e4a2f7880b0bc/lambdata_zwarshavsky-0.1.2-py3-none-any.whl
Requirement already satisfied: pandas in /Users/user/anaconda3/lib/python3.7/site-packages (from lambdata-zwarshavsky==0.1.2) (0.24.2)
Requirement already satisfied: numpy in /Users/user/anaconda3/lib/python3.7/site-packages (from lambdata-zwarshavsky==0.1.2) (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/user/anaconda3/lib/python3.7/site-packages (from pandas->lambdata-zwarshavsky==0.1.2) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/user/anaconda3/lib/python3.7/site-packages (from pandas->lambdata-zwarshavsky==0.1.2) (2019.1)
Requirement already satisfied: six>=1.5 in /Users/user/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas->lambdata-zwarshavsky==0.1.2) (1.12.0)
Installing collected packages: lambdata-zwarshavsky
Successfully installed lambdata-zwarshavsky-0.1.2
Note: you may need to restart the kernel to use updated packages.

In [7]:
import l_z as lz

In [8]:
dir(lz)

['ONES',
 'ZEROS',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'increment',
 'np',
 'pd']

In [23]:
from l_z import *

In [83]:
df = pd.DataFrame({"zeros":np.zeros(10),"ones":np.ones(10),"letters":["a","b","c","d","e","f","g","h","i","j"]})

In [84]:
df = df.replace(0,np.nan)

In [85]:
df

   zeros  ones letters
0    NaN   1.0       a
1    NaN   1.0       b
2    NaN   1.0       c
3    NaN   1.0       d
4    NaN   1.0       e
5    NaN   1.0       f
6    NaN   1.0       g
7    NaN   1.0       h
8    NaN   1.0       i
9    NaN   1.0       j

In [111]:
def val_other(X,top):
    # When object columns values beyond the top X highest frequency, replace with "OTHER" value 
    object_cols = X.select_dtypes(exclude='number')
    for col in object_cols.columns:
        if X[col].nunique() >= (top):
            topnumber = X[col].value_counts()[:top].index
            X.loc[~X[col].isin(topnumber), col] = "OTHER"
    return X

        
df2 = val_other(df,3)

In [117]:
import random 

l = []
for x in range(2,21,2):
    l.append(x)
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Single function to take a list, turn it into a series and add it to a dataframe as a new column

In [120]:
def add_l(df,l,col_name):
    df[col_name] = l 
    
add_l(df,l,"another")

In [121]:
df

   zeros  ones letters  another
0    NaN   1.0       a        2
1    NaN   1.0   OTHER        4
2    NaN   1.0   OTHER        6
3    NaN   1.0   OTHER        8
4    NaN   1.0   OTHER       10
5    NaN   1.0       f       12
6    NaN   1.0   OTHER       14
7    NaN   1.0   OTHER       16
8    NaN   1.0   OTHER       18
9    NaN   1.0   OTHER       20

In [20]:
from l_z import df_utils

In [ ]:
from l_z

In [19]:
df = pd.DataFrame(np.zeros(100))

NameError: name 'pd' is not defined